@import "tailwindcss";

body {
  font-family: 'Georgia', serif;
  background-color: #ffffff;
}

.liquid {
  font-size: 30px;
  color: #333333;
  font-weight: 600;
  font-family: 'Orbitron', sans-serif;
}

.navbar {
  border: 1px solid #e0e0e0;
  border-radius: 0;
  background-color: #ffffff;
}

.xyz {
  font-family: 'Georgia', serif;
  font-size: 65px;
  line-height: 0.95;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
}

.title {
  font-family: 'Georgia', serif;
  font-size: 48px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.slogan {
  font-family: 'Georgia', serif;
  border: 1px solid #e0e0e0;
  color: #333333;
  background-color: #f9f9f9;
}

.shopnow {
  background-color: rgb(61, 61, 61);
  color: #ffffff;
  font-family: 'Georgia', serif;
}

.background {
  background-color: #007bff;
}

.round-text {
  font-size: 20px;
  font-family: 'Georgia', serif;
}

.our_story {
  font-family: 'Playfair Display', serif;
  color: #333333;
  font-weight: 700;
  

}

.our_story_text {
  font-family: 'Georgia', serif;
  color: #333333;
}

.stats {
  font-family: "Inter";
  font-weight: 700;
  color: #333333;
  border: 1px solid #f1e6e6;
  border-radius: 20px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.05),
    0 12px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease-out;

}
.stats:hover{
  transform: translateY(-5px);

}

.our_collabs {
  font-family: 'Playfair Display', serif;
  color: #333333;
  font-weight: 700;
}

.text_para {
  font-family: 'Georgia', serif;
  font-size: 20px;
  color: #333333;
  margin: 10px;
}


.cards {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
}

.cards:hover {
  transform: none;
}
.review_card{
  border-radius: 20px;
  background-color: #e0e0e0;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.review_card:hover{
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
